.main {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.left {
  width: 50%;
  height: 100%;
  /* background-color: lemonchiffon; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  /* background-color: green; */
  margin: 1px;
  width: 60%;
}
.innerform {
  display: flex;
  flex-direction: column;
  margin: 1px;
  width: 100%;
}
.input {
  background-color: rgba(225, 224, 224, 0.884);
  padding: 3% 4%;
  margin-bottom: 4%;
  border: none;
  border-radius: 5px;
  color: #00044a;
  opacity: 0.6;
  font-weight: 600;
}
.input::placeholder {
  color: #00044a;
  opacity: 0.6;
  font-weight: 500;
}
.input:focus {
  outline: none;
  color: #00044a;
  opacity: 0.7;
  font-weight: 500;
}
.button {
  width: 60%;
  align-self: center;
  border: none;
  padding: 6px 10px;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5%;
  background-color: #2e3aa4;
  border-radius: 5px;
  color: white;
  display: flex;
  align-self: end;
  justify-content: center;
  gap: 15%;
  transition: 0.5s;
}
.button:hover {
  transition: 0.5s;
  background-color: #020292;
}
.gender {
  display: flex;
  gap: 5px;
  margin-bottom: 2%;
  color: #00044a;
  opacity: 0.6;
  font-weight: 600;
}

.right {
  width: 50%;
  height: 100%;
  /* background-color: lightcyan; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 90%;
  height: 90%;
}
