.parent {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}
.page1 {
  width: 100%;
  height: 100%;
  display: flex;
}
.page2 {
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.content {
  padding: 2px;
}
.content_h5 {
  opacity: 0.6;
  color: #00044a;
}
.content_h1 {
  font-size: 6vw;
  font-weight: 600;
  color: #00044a;
}
.right {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: aqua;
}
.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  background-color: #0479ff;
  border: none;
  border-radius: 2px;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.button::after {
  content: "";
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #558b2d, #558b2d);
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 2px;
  transition: 0.5s;
  z-index: -998;
}
.button:hover:after {
  width: 100%;
}
/* ----------- for Mobile and Tab -------------  */
@media (max-width: 767px) {
  .page1 {
    display: grid;
    flex-wrap: wrap;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    display: flex;
  }
  .content {
    width: 100%;
    text-align: center;
  }
  .content_h1 {
    font-size: 45px;
  }
}
